body {
    background-image: url(fundo\ de\ universoo.jpg);
    background-size: cover;
    border: 2px solid transparent; /* Define a borda com 2px de largura, sólida e preta */
    padding: 20px; /* Adiciona espaço interno dentro da borda */
    width: 80%; /* Define a largura do elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
}

.titulos {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;


}

.telinicial {
    color: aliceblue;
    font-size: 15px;
    font-family: cursive;
    background-color: rgba(101, 104, 104, 0.445);
    
}

.manocesar{
    color: dimgray;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    img {
        float: left; /* Faz com que a imagem flutue à esquerda */
        margin-right: 9px; /* Adiciona uma margem à direita para separar o texto */
        width: 200px;
        height: auto;
        }
}

.manohenrique{
    color: dimgray;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    img {
        float: right; /* Faz com que a imagem flutue à direita */
        margin-left: 9px; /* Adiciona uma margem à esquerda para separar o texto */
        width: 200px;
        height: auto;
        }
}
.universus1 {
    background-color: slateblue;
    color: rgb(255, 254, 254);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; /* Define a borda com 2px de largura, sólida e preta */
    padding: 20px; /* Adiciona espaço interno dentro da borda */
    width: 80%; /* Define a largura do elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    img {
        float: left; /* Faz com que a imagem flutue à esquerda */
        margin-right: 9px; /* Adiciona uma margem à direita para separar o texto */
        width: 250px;
        height: auto;
        }
    
    
}
.universus2 {
    background-color: rgb(205, 103, 90);
    color: rgb(255, 254, 254);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; /* Define a borda com 2px de largura, sólida e preta */
    padding: 20px; /* Adiciona espaço interno dentro da borda */
    width: 80%; /* Define a largura do elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    img {
        float: left; /* Faz com que a imagem flutue à esquerda */
        margin-right: 9px; /* Adiciona uma margem à direita para separar o texto */
        width: 250px;
        height: auto;
        }
    
}
.universus3 {
    background-color: rgb(90, 205, 125);
    color: rgb(255, 254, 254);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; /* Define a borda com 2px de largura, sólida e preta */
    padding: 20px; /* Adiciona espaço interno dentro da borda */
    width: 80%; /* Define a largura do elemento */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    img {
        float: left; /* Faz com que a imagem flutue à esquerda */
        margin-right: 9px; /* Adiciona uma margem à direita para separar o texto */
        width: 250px;
        height: auto;
        }
    
}